* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;

  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--32-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}

.heading1,
.heading2,
.heading3 {
  color: #444;
  letter-spacing: -0.5px;
}
.heading1 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 3rem;
}
.heading2 {
  font-size: 4rem;
  line-height: 1.4;
  margin-bottom: 9rem;
}
.heading3 {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

/*HELPER CLASSES*/
.center-text {
  text-align: center;
}
.margin-bot {
  margin-bottom: 4.9rem !important;
}
.margin-right {
  margin-bottom: 1.6rem !important;
}

strong {
  font-weight: 500;
}

/*BUTTONS*/
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(214, 158, 85);
  color: rgb(32, 20, 20);
}
