/* ////////////////////////// */
/* ////////////////////////// */

.oman-back{
    
    background-image: url("../img/oman/cabra.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    
}