/* ////////////////////////// */
/* ////////////////////////// */

.oman-back{
    
    background-image: url("../img/oman/cabra.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    
}

.oman-intro p{
    font-size: 1.6rem;
    margin-bottom: 6rem;
    line-height: 2;
    text-align: justify;
}